{% extends 'base.html' %}
{% load static %}

{% block title %} write a book {% endblock title %}

{% block content %}

    <div class="flex items-center justify-center animate-pulse mt-28  m-auto p-3">
        <ul class="  font-serif text-l capitalize relative  bg-gradient-to-r via-green-300/10 from-emerald-900/10 shadow-2xl p-10">
        <li>Authentication</li>
        <li>two-way-permmision</li>
        <li>fliters</li>
        <li>Crud system</li>
        <li>Form api</li>
        <li>model form</li>
        <li>tailwindcss</li>
       </ul>
    </div>

{% endblock content %}